<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ページが見つかりませんでした - CircleList</title>
        <meta name="theme-color" content="#c99987">
        <link rel="icon" type="image/x-icon" href="../assets/favicon.ico">
        <link rel="apple-touch-icon" sizes="180x180" href="../assets/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192×192" href="../assets/android-chrome-192x192.png">
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115436840-4"></script>
        <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-115436840-4'); </script>
        <meta property="og:url" content="https://hideki0403.github.io/comiket/" /> 
        <meta property="og:title" content="CircleList" /> 
        <meta property="og:site_name" content="CircleList">
        <meta property="og:image" content="https://hideki0403.github.io/comiket/assets/card.png" /> 
        <meta property="og:description" content="CircleListはコミックマーケット用の非公式ツールです。お気に入りのサークルを登録してチェックリストを作成することが出来ます。" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="../src/style.css" rel="stylesheet">
        <link href="../src/map.css" rel="stylesheet">
        <script>_th = "44GT44Gu44K144O844OT44K544KS5L2/44Gj44Gm44GP44KM44Gm5pys5b2T44Gr44GC44KK44GM44Go44GG44CC44GC44Gq44Gf44GM44GT44Gu5paH56ug44KS6Kqt44"</script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body class="page-404">
        <div class="container">
            <br>
            <img src="../assets/logo.png" class="main-logo" style="height: 40px;"></img>
            <h3>404 Not Found</h3>
            <h5>お探しのページが見つかりませんでした...</h5>
            <br>
            <hr>
            <p>お探しのページは削除されたか、移動された可能性があります。</p>
            <p>10秒後にトップページへ自動的に転送されます。</p>
        </div>

        <script src="../src/scheck.js"></script>
        <script src="../src/reg_sw.js"></script>
        <script src="../src/404.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
    </body>
</html>