::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: var(--scrollbarHandle);
}

::-webkit-scrollbar-track {
  border-radius: 30px;
  background: var(--scrollbarTrack);
}

html, body {
  height: 100%;
}

body {
  background: var(--background);
  font-family: 'Montserrat', sans-serif;
  color: white;
  position: relative;
  user-select: none;
}

body::-webkit-scrollbar {
  display: none;
}
  
p {
  font-size: 0.8em;
}

li {
  margin-bottom: 15px;
}

a:visited {
  color:#19528c;
}

i {
  margin-right: 10px;
}

.contents {
  font-family: 'Noto Sans JP', sans-serif;
  position: absolute;
  top: 10vh;
  left: 5%;
  width: calc(55% - 15vh);
  height: 80vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.ct-message {
  font-size: 2vh !important;
  margin: 0px !important;
}

.dates {
  display: flex;
  position: relative;
  z-index: 10;
}

.weather-box {
  width: 20%;
  height: 140px;
  text-align: center;
  display: inline-block;
}

.weather-box i {
  font-size: 80px;
  margin-bottom: 15px;
}

.weather-box p {
  margin: 0px;
  font-size:15px !important;
}

.main-clock {
  font-size: 8vh;
  margin-top: 10vh;
  /* width: 200px; */
}

.sub-clock {
  font-size: 2.5vh;
  margin-top: 16vh;
  left: 0.5vh;
  position: relative;
  display: flex;
  width: 30px;
}

.date-clock {
  position: absolute;
  bottom: 10vh;
  font-size: 3vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.week-clock {
  position: absolute;
  bottom: 7vh;
  font-size: 2vh;
  left: 50%;
  transform: translate(-50%, -50%);
}
  
.clock {
  top: 0px;
  bottom: 0px;
  margin: auto;
  right: 10%;
  height: 50vh;
  width: 50vh;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  position: absolute;
}
  
.clock__second, .clock__minute, .clock__hour, .clock__indicator {
  position: absolute;
  left: calc(50% - 1px);
  width: 2px;
  background: #f4eed7;
  transform-origin: bottom center;
  z-index: 2;
  border-radius: 1px;
}

.clock__second {
  height: 50%;
  margin-top: 0px;
  background: #4b9aaa;
  /*animation: time 60s infinite steps(60);*/
  /*animation: time 60s linear infinite;*/
  z-index: 3;
}
.clock__minute {
  height: 43%;
  margin-top: 7%;
  opacity: 0.75;
  animation: time 3600s linear infinite;
}
.clock__hour {
  height: 30%;
  margin-top: 20%;
  animation: time 43200s linear infinite;
}

.clock__indicator {
  height: 50%;
  border-top: 4px solid #4b9aaa;
  background: none;
  margin-top: -4px;
}

.clock__indicator:nth-of-type(5n) {
  opacity: 1;
  height: 50%;
  border-top: 10px solid #f4eed7;
  margin-top: -10px;
}

.clock__axis {
  background: none;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  position: absolute;
  z-index: 4;
  top: 250px;
}

.red {
    color: var(--red)
}

.blue {
    color: var(--blue)
}

.contents p {
  font-size: 85% !important;
}

.blur {
  filter: blur(8px)
}

.btn-sns {
  display: inline-block;
  background-color: #fff;
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin: 0 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
  opacity: 0.99;
}

.inner {
  height: 100%;
}

.popup {
  display: unset !important;
}

.popup div {
  width: 60%;
  height: 70%;
  border-radius: 30px;
  background: var(--popup);
  z-index: 30;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 30px;
}

.popup::before {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
  backdrop-filter: blur(7px);
  z-index: 30;
}

.popup h3 {
  color: #FFF;
  font-family: 'Noto Sans JP', sans-serif;
}

.popup h5 {
  color: #FFF;
}

.popup input {
  width: 40%;
}

.popup i {
  font-size: 40px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 25px 45px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.popup i:hover {
  transform: rotateZ(90deg);
  color: var(--red);
}

.popup hr {
  margin-top: 25px;
}

.dn {
  display: none;
}

.btn {
  margin-right: 10px;
  display: block;
  position: relative;
  padding: 0px 15px 0px 15px;
  text-align: center;
  text-decoration: none;
  color: var(--text);
  background: var(--sub-color);
  border-radius: 30px;
  float: right;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  background: rgb(49, 49, 49);
  color:  #FFF;
  text-decoration: none;
}

.version  {
  margin: 10px;
  font-size: 15px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  color: #393d42
}

.setting-icon {
  margin: 20px;
  opacity: 0.3;
  font-size: 200%;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.setting-icon:hover {
  margin: 20px;
  opacity: 1;
  font-size: 200%;
  transform: rotateZ(90deg);
}

#weather-container {
  margin-top: 20px;
}

.flw {
  height:25vh;
  overflow: auto;
}

.flw ul {
  padding-right: 15px;
}

#search-form {
  position: absolute;
  top: 40px;
  left: 40px;
  font-family: 'Noto Sans JP', sans-serif;
}

#search-input {
  height: 40px;
  padding: 0px 20px;
  position: absolute;
  left: 0;
  top: 0;
  width: 20vw;
  border-radius: 30px;
  outline: 0;
  background: var(--main-color);
  color: #FFF;
  border: none;
}

#search-button {
  height: 40px;
  width: 50px;
  position: absolute;
  left: 20vw;
  top: 0;
  color: #fff;
  border: none;
  border-radius: 0 30px 30px 0;
  background: var(--btn);
}

#search-button .fa-search{
  font-size:20px;	
  position:absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  color: var(--btn-icon)
}

.page-mv {
  opacity: 0;
  transition: all 0.5s ease 0s;
}

.page-mv::before {
  opacity: 1;
}

.box {
  background: var(--main-color);
  padding: 20px;
  border-radius: 30px;
  margin-top: 20px;
  margin-right: 20px;
  height: auto;
  width: 45%;
}

section:nth-of-type(1) {
  transform: rotateZ(calc(6deg * 1));
}

section:nth-of-type(2) {
  transform: rotateZ(calc(6deg * 2));
}

section:nth-of-type(3) {
  transform: rotateZ(calc(6deg * 3));
}

section:nth-of-type(4) {
  transform: rotateZ(calc(6deg * 4));
}

section:nth-of-type(5) {
  transform: rotateZ(calc(6deg * 5));
}

section:nth-of-type(6) {
  transform: rotateZ(calc(6deg * 6));
}

section:nth-of-type(7) {
  transform: rotateZ(calc(6deg * 7));
}

section:nth-of-type(8) {
  transform: rotateZ(calc(6deg * 8));
}

section:nth-of-type(9) {
  transform: rotateZ(calc(6deg * 9));
}

section:nth-of-type(10) {
  transform: rotateZ(calc(6deg * 10));
}

section:nth-of-type(11) {
  transform: rotateZ(calc(6deg * 11));
}

section:nth-of-type(12) {
  transform: rotateZ(calc(6deg * 12));
}

section:nth-of-type(13) {
  transform: rotateZ(calc(6deg * 13));
}

section:nth-of-type(14) {
  transform: rotateZ(calc(6deg * 14));
}

section:nth-of-type(15) {
  transform: rotateZ(calc(6deg * 15));
}

section:nth-of-type(16) {
  transform: rotateZ(calc(6deg * 16));
}

section:nth-of-type(17) {
  transform: rotateZ(calc(6deg * 17));
}

section:nth-of-type(18) {
  transform: rotateZ(calc(6deg * 18));
}

section:nth-of-type(19) {
  transform: rotateZ(calc(6deg * 19));
}

section:nth-of-type(20) {
  transform: rotateZ(calc(6deg * 20));
}

section:nth-of-type(21) {
  transform: rotateZ(calc(6deg * 21));
}

section:nth-of-type(22) {
  transform: rotateZ(calc(6deg * 22));
}

section:nth-of-type(23) {
  transform: rotateZ(calc(6deg * 23));
}

section:nth-of-type(24) {
  transform: rotateZ(calc(6deg * 24));
}

section:nth-of-type(25) {
  transform: rotateZ(calc(6deg * 25));
}

section:nth-of-type(26) {
  transform: rotateZ(calc(6deg * 26));
}

section:nth-of-type(27) {
  transform: rotateZ(calc(6deg * 27));
}

section:nth-of-type(28) {
  transform: rotateZ(calc(6deg * 28));
}

section:nth-of-type(29) {
  transform: rotateZ(calc(6deg * 29));
}

section:nth-of-type(30) {
  transform: rotateZ(calc(6deg * 30));
}

section:nth-of-type(31) {
  transform: rotateZ(calc(6deg * 31));
}

section:nth-of-type(32) {
  transform: rotateZ(calc(6deg * 32));
}

section:nth-of-type(33) {
  transform: rotateZ(calc(6deg * 33));
}

section:nth-of-type(34) {
  transform: rotateZ(calc(6deg * 34));
}

section:nth-of-type(35) {
  transform: rotateZ(calc(6deg * 35));
}

section:nth-of-type(36) {
  transform: rotateZ(calc(6deg * 36));
}

section:nth-of-type(37) {
  transform: rotateZ(calc(6deg * 37));
}

section:nth-of-type(38) {
  transform: rotateZ(calc(6deg * 38));
}

section:nth-of-type(39) {
  transform: rotateZ(calc(6deg * 39));
}

section:nth-of-type(40) {
  transform: rotateZ(calc(6deg * 40));
}

section:nth-of-type(41) {
  transform: rotateZ(calc(6deg * 41));
}

section:nth-of-type(42) {
  transform: rotateZ(calc(6deg * 42));
}

section:nth-of-type(43) {
  transform: rotateZ(calc(6deg * 43));
}

section:nth-of-type(44) {
  transform: rotateZ(calc(6deg * 44));
}

section:nth-of-type(45) {
  transform: rotateZ(calc(6deg * 45));
}

section:nth-of-type(46) {
  transform: rotateZ(calc(6deg * 46));
}

section:nth-of-type(47) {
  transform: rotateZ(calc(6deg * 47));
}

section:nth-of-type(48) {
  transform: rotateZ(calc(6deg * 48));
}

section:nth-of-type(49) {
  transform: rotateZ(calc(6deg * 49));
}

section:nth-of-type(50) {
  transform: rotateZ(calc(6deg * 50));
}

section:nth-of-type(51) {
  transform: rotateZ(calc(6deg * 51));
}

section:nth-of-type(52) {
  transform: rotateZ(calc(6deg * 52));
}

section:nth-of-type(53) {
  transform: rotateZ(calc(6deg * 53));
}

section:nth-of-type(54) {
  transform: rotateZ(calc(6deg * 54));
}

section:nth-of-type(55) {
  transform: rotateZ(calc(6deg * 55));
}

section:nth-of-type(56) {
  transform: rotateZ(calc(6deg * 56));
}

section:nth-of-type(57) {
  transform: rotateZ(calc(6deg * 57));
}

section:nth-of-type(58) {
  transform: rotateZ(calc(6deg * 58));
}

section:nth-of-type(59) {
  transform: rotateZ(calc(6deg * 59));
}

section:nth-of-type(60) {
  transform: rotateZ(calc(6deg * 60));
}

@keyframes time {
  to {
    transform: rotateZ(360deg);
  }
}

/* Tippy */
.tippy-tooltip.light-theme {
  color: #26323d;
  /* box-shadow: 0 0 1.25rem 4px rgba(154,161,177,.15),0 4px 80px -8px rgba(36,40,47,.25),0 4px 4px -2px rgba(91,94,105,.15); */
  background-color: #fff
}

.tippy-tooltip.light-theme[data-placement^=top] .tippy-arrow {
  border-width: 8px 8px 0;
  border-top-color: #fff
}

.tippy-tooltip.light-theme[data-placement^=bottom] .tippy-arrow {
  border-width: 0 8px 8px;
  border-bottom-color: #fff
}

.tippy-tooltip.light-theme[data-placement^=left] .tippy-arrow {
  border-width: 8px 0 8px 8px;
  border-left-color: #fff
}

.tippy-tooltip.light-theme[data-placement^=right] .tippy-arrow {
  border-width: 8px 8px 8px 0;
  border-right-color: #fff
}

.tippy-tooltip.light-theme .tippy-backdrop {
  background-color: #fff
}

.tippy-tooltip.light-theme .tippy-svg-arrow {
  fill: #fff
}
