:root {
    --main-color: rgb(40, 44, 55);
    --sub-color: rgba(255, 255, 255, 0.1);
    --text: rgb(214, 218, 224);
    --text-sub: rgba(214, 218, 224, 0.4);
    --text-title: rgba(214, 218, 224, 0.65);
    --btn: #333741;
    --btn-icon: rgba(255,255,255,0.5);
    --popup: rgba(40, 44, 55, 0.85);
    --background: rgb(23, 25, 31);
    --scrollbarTrack: rgb(29, 32, 40);
    --scrollbarHandle: rgb(51, 56, 70);
    --scrollbarHandleHover: rgb(61, 68, 84);
    --red: #ff6262;
    --blue: #62b7ff;
}