.map-frame {
    overflow: auto;
    height: 80%;
    border: 3px solid #ee6e73;
    border-radius: 10px;
    margin: 3%;
}

.map-s12 {
    position: relative;
    width: 1240px;
    height: 680px;
}

.map-w1 {
    position: relative;
    width: 1800px;
    height: 1280px;
}

.map-w2 {
    position: relative;
    width: 1340px;
    height: 1280px;
}

._1 {
    font-size: 20px;
    top: 145px;
}

._2 {
    font-size: 20px;
    top: 785px;
}

.upper-div {
    position: absolute !important;
    width: 20px;
    height: 20px;
    top: -20px;
    left: 10px;
}

.lower-div {
    position: absolute !important;
    width: 20px;
    height: 20px;
    bottom: -20px;
    left: 10px;
}

.map-k {
    position: relative;
    width: 1700px;
    height: 900px;
}

.map-k div {
    text-align: center;
    word-break: break-all;
    outline: 1px solid #616161;
}

.map-k div div {
    line-height: 10px;
}

.map-parent div {
    position: absolute;
}

.map-parent p {
    position: absolute;
    color: #ee6e73;
}

.miniblock {
    width: 20px;
    height: 20px;
    border: 1px solid #616161;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
}

.block-9 {
    outline: 1px solid #616161;
    width: 40px;
    height: 180px;
}

.block-7 {
    outline: 1px solid #616161;
    width: 40px;
    height: 140px;
}

.block-6 {
    outline: 1px solid #616161;
    width: 40px;
    height: 120px;
}

.block-5 {
    outline: 1px solid #616161;
    width: 40px;
    height: 100px;
}

.block-4 {
    outline: 1px solid #616161;
    width: 40px;
    height: 80px;
}

.block-3 {
    outline: 1px solid #616161;
    width: 40px;
    height: 60px;
}

.grid-3-2 {
    width: 40px;
    height: 60px;
}

.grid-4-2 {
    width: 40px;
    height: 80px;
}

.grid {
    display: grid;
    grid-template-rows: repeat(auto-fill, 20px);
    grid-template-columns: repeat(auto-fill, 20px);
    grid-auto-flow: column;
}

.grid div {
    position: static;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    border: 1px solid #616161;
    border-collapse: collapse;
}

.stripe {
    width: 2px;
    -webkit-background-size: 20px 20px;
    -moz-background-size: 20px 20px;
    background-size: 20px 20px;
    background-color: #FFF;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, #ee6e73), color-stop(.5, transparent), to(transparent));
    background-image: -moz-linear-gradient(#ee6e73 50%, transparent 50%, transparent);
    background-image: -o-linear-gradient(#ee6e73 50%, transparent 50%, transparent);
    background-image: linear-gradient(#ee6e73 50%, transparent 50%, transparent);
    outline: none !important;
}