.map {
    top: 0px;
    left: 0px;
    position: absolute;
    margin: 20px;
}

.map_cover {
    top: 0px;
    left: 0px;
    position: absolute;
    margin: 20px;
}

.map_parent {
    position: relative;
    height: 1280px;
}

.cover-w {
    width: 1800px;
    height: 1280px;
}

.cover-s {
    width: 1240px;
    height: 680px;
}

.tip-circle {
    position: absolute;
    width: 20px;
    height: 20px;
}