::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #fff;
    border-left: solid 1px #ececec;
}
::-webkit-scrollbar-thumb{
    background: #ee6e73;
    border-radius: 10px;
    box-shadow: inset 0 0 0 2px #fff;
}

/*
#cc-list-circle span {
    margin: 0px 10px 0px 5px; 
} 
*/

#cc-list-circle p {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 6px 0px 6px 0px;
}

#cc-list-circle .collapsible-body {
    padding: 5px 15px 5px 15px;
}

#check-box {
    color: #ee6e73;
}

body {
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    overflow-x: hidden;
    font-family: 'Noto Sans JP', sans-serif;
}

.not-registed {
    margin: 25px 0px 0px 0px !important;
}

.main-logo {
    height: 80%;
    margin: 6px 0px 0px 0px;
}

.memo {
    -ms-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}

.remove-button {
    position: absolute !important;
    right: 10px;
    bottom: 5px;
}

.edit-button {
    position: absolute !important;
    right: 80px;
    bottom: 5px;
}

.collapsible-header {
    display: block !important;
    height: 4em !important;
    position: relative;
}

.collapsible-header span {
    position: absolute;
    top: 50%;
    margin-top: -1.0rem;
}

.collapsible-body {
    position: relative;
}

.cc-name {
    left: 40%;
}

.cc-hall {
    left: 15%;
}

.cc-place {
    left: 25%;
}

.cc-day {
    right: 10%;
}

.warning-text {
    font-size: 20px;
}

.yen {
    position: relative;
    top: 27px;
    left: 0px;
}

#cc-buylist-wrapper .collapsible-body {
    padding: 0px 1% 0px;
}

#cc-buylist-wrapper .collapsible-body tr {
    position: relative;
}

#cc-buylist-wrapper .collapsible-body tr .del-button-wrapper {
    position: absolute;
    right: 10px;
    width: 80px;
    height: 60px;
}

tr .buylist-delete {
    position: absolute !important;
    right: 20px;
    top: 12px;
}

.tabs {
    overflow-x: hidden !important;
}

.collapsible {
    border-right: none !important;
    border-left: none !important;
}