/*
    CircleList用テーマカラー

    C96: #ee6e73
    C97: #c99987
*/

.theme-color {
    background: var(--theme-color) !important;
}

.theme-color-text {
    color: var(--text-color) !important;
}

.text-color {
    color: var(--text-color);
}

.normal-text {
    color: var(--normal-text) !important;
}

.tabs.tabs-transparent .tab {
    background: var(--tabs);
}

.tabs .tab {
    background: var(--tab);
}

.tabs.tabs-transparent .tab a:hover, .tabs.tabs-transparent .tab a.active {
    color: #fff !important;
}

.tabs.tabs-transparent .tab a{
    color: rgba(255, 255, 255, 0.5) !important;
}

.tabs .tab a{
    color: var(--tab-a) !important;
}

.tabs .tab a:hover {
    color: var(--tab-a-active) !important;
}

.tabs .tab a.active {
    color: var(--tab-a-active) !important;
}

.tabs .indicator {
    background-color: var(--indicator) !important;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: var(--tab-focus) !important;
    outline: none;
}

.nav-wrapper {
    background: var(--nav);
}

.tabs-transparent {
    background-color: var(--tabs) !important;
}

.tabs {
    background: var(--tabs) !important;
}

.tab2 {
    background: var(--tab) !important;
    filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.1));
}

.modal-content, .modal-footer {
    background: var(--background);
    color: var(--text-color);
    background-color: var(--background) !important;
}

.collapsible-header {
    background-color: var(--background) !important;
    border-bottom: 1px solid var(--border) !important;
    color: var(--text-color);
}

.collapsible-body {
    border-bottom: var(--border) !important;
    background: var(--second) !important;
    color: var(--text-color);
}

.collapsible {
    border-top: var(--border) !important
}

.sidenav {
    background-color: var(--background) !important;
}

.select-wrapper {
    border-bottom: 1px solid none !important;
    color: var(--normal-text) !important;
}

textarea, input[type=text], input[type=password], input[type=number] {
    color: var(--normal-text) !important;
}

input::placeholder, textarea::placeholder {
    color: var(--placeholder) !important;
}

.caret {
    fill: var(--normal-text) !important;
}

.dropdown-content {
    background-color: var();
}

.spinner-custom {
    border-color: #fff !important;
}

.warning-color {
    background: #ff5151 !important;
}

.info-color {
    background: #41b0ff !important;
}

.custom-sidenav {
    background: #ffe7d5 !important;
}

.page-404 {
    background: #FFF;
    color: #c99987
}

.dropdown-content {
    background-color: var(--tab) !important;
}

/* テーマカラーここまで */

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: var(--tab);
    border-left: solid 1px var(--tab-focus);
}
::-webkit-scrollbar-thumb {
    background: var(--tab-a-active);
    /* border-radius: 10px; */
    /* box-shadow: inset 0 0 0 2px #fff; */
}

hr {
    display:block;
    width: 100%;
    height: 2px;
    border: 0;
    border-top: 1px dashed var(--hr);
  }

/*
#cc-list-circle span {
    margin: 0px 10px 0px 5px; 
} 
*/

#cc-list-circle p {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 6px 0px 6px 0px;
}

#cc-list-circle .collapsible-body {
    padding: 5px 15px 5px 15px;
}

#check-box {
    color: #c99987;
}

#cc-list-buy {
    overflow-x: hidden;
}

body {
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    overflow-x: hidden;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: lighter;
    /* P2R無効化 */
    overscroll-behavior-y: none;
    background: var(--background);
    transition: all  1s ease;
}

.not-registed {
    margin: 25px 0px 0px 0px !important;
    color: var(--text-color)
}

.main-logo {
    height: 80%;
    margin: 6px 0px 0px 0px;
}

.sub-logo {
    width: 70%;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.2));
    margin: 10px 15%;
}

.memo {
    -ms-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}

.remove-button {
    position: absolute !important;
    right: 10px;
    bottom: 5px;
}

.edit-button {
    position: absolute !important;
    right: 80px;
    bottom: 5px;
}

.collapsible-header {
    display: block !important;
    height: 4em !important;
    position: relative;
}

.collapsible-header span {
    position: absolute;
    top: 50%;
    margin-top: -1.0rem;
}

.collapsible-body {
    position: relative;
}

.cc-name {
    left: 40%;
}

.cc-hall {
    left: 15%;
}

.cc-place {
    left: 25%;
}

.cc-day {
    right: 10%;
}

.warning-text {
    font-size: 20px;
}

.yen {
    position: absolute;
    top: 10px;
    right: 0px;
}

#cc-buylist-wrapper .collapsible-body {
    padding: 0px 1% 0px;
}

#cc-buylist-wrapper .collapsible-body tr {
    position: relative;
}

#cc-buylist-wrapper .collapsible-body tr .del-button-wrapper {
    position: absolute;
    right: 10px;
    width: 80px;
    height: 60px;
}

tr .buylist-delete {
    position: absolute !important;
    right: 20px;
    top: 12px;
}

.tabs::-webkit-scrollbar {
  display: none;
}

.collapsible {
    border-right: none !important;
    border-left: none !important;
}

hr {
    margin-bottom: 25px;
}

.loading {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #FFF;
    z-index: 1000;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all  1s ease;
    opacity: 1;
    pointer-events: none;
}

.loading-container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    text-align: center;
    color: #fff;
}

.load-end {
    opacity: 0 !important;
}

h5 {
    margin-top: 30px !important;
}

.logo_animation_container {
    position: fixed;
    top: 20%;
    left: 50%;
    width: 70%;
    height: 200px;
    margin-top: -100px;
    margin-left: -35%;
}

/*
    Spinner
*/

.scaling-squares-spinner, .scaling-squares-spinner * {
    box-sizing: border-box;
  }

  .scaling-squares-spinner {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    animation: scaling-squares-animation 1250ms;
    animation-iteration-count: infinite;
    transform: rotate(0deg);
  }

  .scaling-squares-spinner .square {
    height: calc(65px * 0.25 / 1.3);
    width: calc(65px * 0.25 / 1.3);
    margin-right: auto;
    margin-left: auto;
    border: calc(65px * 0.04 / 1.3) solid #fff;
    position: absolute;
    animation-duration: 1250ms;
    animation-iteration-count: infinite;
  }

  .scaling-squares-spinner .square:nth-child(1) {
    animation-name: scaling-squares-spinner-animation-child-1;
  }

  .scaling-squares-spinner .square:nth-child(2) {
    animation-name: scaling-squares-spinner-animation-child-2;
  }

  .scaling-squares-spinner .square:nth-child(3) {
    animation-name: scaling-squares-spinner-animation-child-3;
  }

  .scaling-squares-spinner .square:nth-child(4) {
    animation-name: scaling-squares-spinner-animation-child-4;
  }


  @keyframes scaling-squares-animation {

    50% {
      transform: rotate(90deg);
    }

    100% {
      transform: rotate(180deg);
    }
  }

  @keyframes scaling-squares-spinner-animation-child-1 {
    50% {
      transform: translate(150%,150%) scale(2,2);
    }
  }

  @keyframes scaling-squares-spinner-animation-child-2 {
    50% {
      transform: translate(-150%,150%) scale(2,2);
    }
  }

  @keyframes scaling-squares-spinner-animation-child-3 {
    50% {
      transform: translate(-150%,-150%) scale(2,2);
    }
  }

  @keyframes scaling-squares-spinner-animation-child-4 {
    50% {
      transform: translate(150%,-150%) scale(2,2);
    }
  }

.share-btn {
    height: 20px !important;
    margin-top: -12px !important;
    line-height: 20px !important;
}

.share-btn i {
    font-size: 20px !important;
}

.restore_login {
    transition: all  1s ease;
}

.login_success {
    display: none;
}

.copy-icon {
    display:inline;
    cursor: pointer;
}

.copy-icon i {
    font-size: 20px;
    margin-left: 10px;
    vertical-align: bottom;
}

select.browser-default {
    display: block;
    background: var(--background);
    border: none;
    border-bottom: 1px solid #9e9e9e;
    color: var(--text-color);
}

.notification {
    position: relative;
}

.notification span {
    position: absolute;
    top: 10px;
    left: 50%;
    font-size: 12px;
    line-height: 5px;
    border-radius: 25%;
    width: 15px;
    height: 15px;
    background-color: #ff5151;
    border-top: 5px solid #ff5151;
    color: #ffffff;
    text-align: center;
}

.modal {
    background-color: rgba(0, 0, 0, 0) !important;
    border-radius: 20px !important;
}

.btn {
    border-radius: 10px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn:hover {
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
}

.notification-tag {
    background: rgba(0, 0, 0, 0);
}

.new-notice {
    position: relative;
}

.new-notice td:first-child::before {
    position: absolute;
    content: 'NEW!';
    color: #ff5151;
    font-size: 12px;
    margin-top: -15px;
}

.fadeout {
    opacity: 0;
}

.fadein {
    opacity: 1;
}

.move {
    transition: all 0.5s ease;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.displayNone {
    display: none;
}

.icon-fixed {
    line-height: 1.4rem;
    margin-right: 0px !important;
}

.link-color {
    color: #41b0ff;
    cursor: pointer;
}

.pointer tr {
    cursor: pointer;
}

#takeover_qr canvas {
    padding: 5px;
    background: #FFF;
}

.fixed-action-btn {
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
}

h5 {
    background: var(--h5);
    border-radius: 10px;
    padding: 10px;
}

h6 {
    padding-bottom: 3px;
    margin-top: 20px !important;
    padding: 7px 0px;
    /*border-left: 5px solid var(--h6);*/
}

h6::before {
    content: '';
    background: var(--h6);
    padding: 5px 3px;
    border-radius: 5px;
    margin-right: 10px;
}

.switch {
    margin: 20px 0px;
}

form .switch {
    margin: 0 !important;
}

.material-box {
    line-height: 12px;
    background: var(--info-box);
    padding: 0px 10px;
    border-radius: 15px;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
    margin: 20px auto !important;
}